

.cityListSection {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 546px;
    /* border: 1px solid black;  */
}

.citiListaHeader {
    text-align: center;
}

.citiListaContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.citiLista {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    padding: 5px;
    /* gap: 5px; */

    border: 1px solid;
}

.citiListaNavLink {
    text-decoration: none;
}

.citiListaRight, .citiListaLeft{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.textStyle {
    color: black;
}

.emptyMessage {
  grid-column: 1 / -1; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 20px;
  text-align: center;
}