

.cityListSection {
    display: flex;
    width: 90%;
    flex-direction: column;
    gap: 10px;
    border: 1px solid black;
    
}

.citiListaHeader {
    text-align: center;
}

.citiListaContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.citiLista {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    border: 1px solid;
}

.citiListaRight, .citiListaLeft{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}