/* navigation section  */

.navigationSection {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navigationList {
    display: flex;
    gap: 20px;
    list-style: none; /* Remove default bullets */
}

.navigationSection li .active {
    border-radius: 20px;
    /* padding: 10px; */
    color: white;
    font-size: 25px;
    font-weight: bold;
    background: radial-gradient(50% 50% at 50% 0, rgba(var(--action-background-color,255,255,255),.8) 0, transparent 100%), hsla(0, 0%, 100%, .2);
}

.navigationSection li{
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    align-items: center;
    /* border: 1px solid black; */
}


/* Dropdown  styles */

/* navbar mobile content start  */


@media only screen and (max-width: 700px) {
.navigationSection {
    display: none;
}
    
.navigationSection.active {
    display: flex;
    top: 118px;
    right: 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(13.8px);
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: fixed;
    align-items: center;
    overflow-y: auto;
    z-index: 10000000;
}
    
.navigationSection.active ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    list-style: none;  
}

}
    
/* navbar mobile content end  */