

.travelMapPageLayout {
    display: flex;
    overscroll-behavior-y: none;
    position: relative;
    background-color:cadetblue;
    height: 74.6vh;
}


@media  screen and (max-width: 700px) {
    .travelSideBarSection {
    display: none;
    height: 100%;
    background-color: rgb(249, 249, 131);
}

.travelSideBarBtn {
display: flex;
position: fixed;
top: 150px;
    left: 15px;
    padding: 10px;

border: 1px solid black;
}

}
