


.titleSingIn, .titleEmain, .titlePwd, .dividerText {
    color: white;
    font-size: 20px;
    font-weight: bold;
}


.formSingIn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;
}


.inputContent {
    padding: 10px;
    border-radius: 20px;
    width: 100%;
    border: none;
}

.paswordContentSingIn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.imgHideShow {
    cursor: pointer;
    position: relative;
    width: 35px;
    height: 35px;
}

.dividerText {
    font-size: 25px;
    font-weight: bold;
}


.bottonForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

