

.adminDashBoardSection {
display: flex;
    padding: 10px;
    gap: 20px;
    border: 1px solid black;
    flex-direction: column;
}

.adminDashBoardMainContent {
    display: flex;
    gap: 20px;
    border: 1px solid black;
    flex-direction: column;
}


.adminDashboarContentTop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;

}

.dashBoardTopContent {
    height: 250px;
}

.dashBoardTopContent{
    padding: 10px;
    border: 1px solid black;
}

.adminDashboarContentMiddle {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
}


.dashBoardMiddleContent {
    height: 400px;
     border: 1px solid black;
}