


.adminDashBoardSection {
    padding: 10px;
    height: 100%;

}

.adminDashBoardMain {
display: flex;
flex-direction: column;
padding: 10px;
gap: 10px;
/* border: 1px solid black; */
}



/* traffick section middle */
.dashboadTrackingSectionMiddle {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    justify-items: center;
    gap: 20px;
    border: 1px solid black;
}


.dashBoardTrafficDeviceOneSection {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    padding: 10px;
    /* height: 400px; */
    border: 1px solid black;
}

.dashBoardTrafficDeviceTwoSection {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    padding: 10px;
    /* height: 400px; */
    border: 1px solid black;
}

.dashBoardTrafficDeviceThreeSection {
    text-align: center;
    padding: 10px;
    height: 400px;
    border: 1px solid black;
}




@media only screen and (max-width: 1150px) {
.dashboadTrackingSectionMiddle {
    display: grid;
    grid-template-columns: 1fr ;
    justify-items: center;
    gap: 20px;
}



}