


/* sing in component */




.titleSingIn, .titleEmain, .titlePwd {
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.formSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}



/* form content left*/

.formSingIn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.inputContent {
    padding: 10px;
    border-radius: 20px;
    width: 100%;
    border: none;
}

.paswordContentSingIn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.imgHideShow {
    cursor: pointer;
    position: relative;
    width: 35px;
    height: 35px;
}


.dividerText {
    font-size: 25px;
    font-weight: bold;
}

/* bottom part form */




.bottonForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


.btnRegistering a{
    text-decoration: none;
}


/* form right  */

.registeringTitle {
    color: white;
}

.registeringText {
    font-size: 15px;
    font-weight: bold;
    color: white;
}


@media only screen and (max-width: 768px) {
.formSection {
    display: flex;
    flex-direction: column-reverse;
}

.rightSingIn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
}