


.updatePasswordSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.formUpdatePassword {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}