.button{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.9s ease;
    text-decoration: none;
}

.btnBack {
    background-color: yellowgreen;
}

.startTracking {
    font-size: 25px;
    background-color: transparent;
    color: white;
}

.delete {
    background-color: rgb(255, 0, 0);
    padding: 5px;
}

.position {
  font-weight: 700;
  position: absolute;
  z-index: 1000;
  font-size: 1.4rem;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(0,189,91);
  color: black;
  box-shadow: 0 0.4rem 1.2rem rgba(36, 42, 46, 0.16);
}


.btnSideBarTravel {
    display: none;

    @media (max-width: 700px) {
    display: flex;
        position: absolute;
        bottom: 120px;
        left: 10px;
        padding: 10px;
        background-color: transparent;
        /* border: 1px solid black; */
        z-index: 1000;
    }
}


.sideBtnlogOut {
    padding: 10px;
}