.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.9s ease;
}

.btnBack {
    background-color: yellowgreen;
}

.startTracking {
    font-size: 25px;
    background-color: transparent;
    color: white;
}