.button{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.9s ease;
    text-decoration: none;
}

.btnBack {
    background-color: yellowgreen;
}

.startTracking {
    font-size: 25px;
    background-color: transparent;
    color: white;
}

.delete {
    background-color: rgb(255, 0, 0);
    padding: 5px;
}


.btnSideBarTravel {
    display: none;

    @media (max-width: 700px) {
    display: flex;
        position: absolute;
        top: 150px;
        left: 25px;
        padding: 10px;
        background-color: transparent;
        /* border: 1px solid black; */
        z-index: 1;
    }
}