


.deleteAccountContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.deleteAccountContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.deleteAccountBottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
