.imageComponent {
    display: inline-block;
    transition: all 0.3s ease;
}

/* Variant Styles */


.footerImg {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    cursor: pointer;
}

.profile {
    width: 200px;
    height: 250px;
    cursor: pointer;
    border-radius: 50%;
}


.icon {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}

.btnIcon, .navIcon {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    cursor: pointer;
}

.sideBarNavIcon{
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.iconDropDown {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 20px;
}

.productImg {
    width: 400px;
    height: 400px;
    border-radius: 20px;
    cursor: pointer;
    @media (max-width: 768px) {
    width: 500px;
    height: 500px;
    }

    @media (max-width: 425px) {
    width: 300px;
    height: 300px;
    }
}