

/* sidebar */

.travelSideBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: beige;
    height: 100%;
      overflow-y: auto; /* Enable scrolling */
  scrollbar-width: none;  /* Firefox support */
  -ms-overflow-style: none;  /* IE/Edge support */
}

